.agent
node_modules
package-lock.json

backend/target
backend/Cargo.lock
backend/storages
backend/path
backend/logs

banking/target
banking/target-watch
banking/target-cli
banking/Cargo.lock
banking/.env
banking/storages
banking/path
banking/logs

build/.env
build/storages
build/path
build/logs

frontend/node_modules
frontend/package-lock.json
frontend/target
frontend/Cargo.lock
frontend/dist
backend/.env
backend/modules/
build/modules/
